html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family:'Open Sans', sans-serif, Arial, Helvetica;
}

/* MENU PRINCIPAL */

.home {
    width:100%;
    height:800px;
    background-color:#a4a4a4;
}
.principal {
    width:100%;
    max-width:1200px;
    margin:auto;
    padding-top:20px
}
.logo {
    float:left;
    width:90px;
    height:90px;
    position: relative;
    top: -5px;
    left: -10px;
}
.menu {
    width:50%;
    float:right;
    height:30px;
}
.menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 350px;
}
.menu ul li {
    list-style:none;
    margin-left:10px;
    float:left;
    height:40px;
    width:100px;
    line-height:40px;
    text-align:center;
    font-size: 13px;
}
.menu ul li a {
    text-decoration:none;
    color:#333;

}
.menu ul li:hover {
    opacity: 0.6;
    transition: all 0.3s ease-out
}
.home_texto {
    margin-top:400px;
    text-align:center;
    font-weight:bold;
    font-size:30px;
    color: #333;
}
.divisao {
    background-color: white;
    width: 100%;
    height: 50px;
}

/* TEMAS */

.tema {
    background: -webkit-gradient(linear, left top, right top, color-stop(80%, #ff544e), color-stop(20%, #f4f4ef));
    background: linear-gradient(-90deg, #f4f4ef 80%, #ff544e 20%);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    padding: 20px;
}
.tema_titulo {
    text-align: center;
    float: top;
    padding: 5% 5% 0% 40%;
}
.tema_texto {
    float: top; 
    text-align: left;
    padding: 1% 5% 0% 40%;
}
.tema_img {
    position: relative;
    float: left;
    padding: 4.5% 0% 0% 3%;
}

/* LOCAIS DE RACISMO */

.local {
    color: #333     ;
    background: -webkit-gradient(linear, left top, right top, color-stop(51.45%, white), color-stop(48.55%, #ff544e));
    background: linear-gradient(-90deg, #ff544e 51.45%, white 48.55%);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    padding: 20px;
}
#cor_car {
    color: rgba(51,51,51,0.8);
}
.local_titulo {
    text-align: center;
    float: top;
    padding: 9% 5% 0% 40%;
}
.local_texto {
    float: top;
    text-align: left;
    padding: 3% 5% 0% 40%;
}
.local_img {
    position: relative;
    float: left;
    padding: 4.5% 0% 0% 3%;
}

/* DEPOIMENTOS */

.depoimento {
    color: BLACK;
    background: #ff544e;
    width: 100%;
    height: 700px;
    padding: 20px;
}
.depoimento_titulo {
    text-align: center;
    float: top;
    padding: 9% 5% 0% 40%;
}
.depoimento_texto {
    float: top;
    text-align: left;
    padding: 3% 5% 0% 40%;
}
.depoimento_img {
    position: relative;
    float: left;
    padding: 4.5% 0% 0% 3%;
}

/* RODAPE */

.rodape {
    position: absolute;
    background-color:#a4a4a4;
    width: 100%;
    height: 100px;
}

/* SCROLL */
